<header>
    <div class="header header-background" style="background-image: url('{{site.baseurl}}{{page.headerimage}}')"> </div>
    <div class="header angled-header">
        <div class="container" >
            {% include navigation.html %}
            {% if page.headline %}
            <h1 class="headline"> {{page.headline}} </h1>
            {% else %}
            <div class="container search-header headline">
                <h4>{{page.title}}</h4>
                <hr class="bold" /> 
                {% include search_box.html %}
                <hr class="light" />
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container" id="backshape" >
        <div class="wrapper">
        </div>
    </div>
</header>
