<!DOCTYPE html>
<html>
{% include html/head %}
<body>
    {% include html/header %}
    <div class="container" role="{{page.role}}">
        <div class="row">
            <div class="{% if page.menus %} col-md-8 {% else %} col-md-12 {% endif %}" >
                    {{content}}
            </div>
            {% if page.menus %}
            <div class="col-md-4">
                {% for menu in page.menus %}
                  {% include menus/{{menu}} %}
                {% endfor %}
            </div>
            {% endif %}
        </div> <!--/row -->
    </div>
  {% include html/footer %}
</body>
</html>
