<!DOCTYPE html>
<html>
{% include head.html %}
<body >
{% include header.html %}
<div class="container" id="backshape" >
    <div class="wrapper">
    </div>
</div>
<div class="container search-box">
        <h3>We are <span class="extra-bold">SIMLab</span><span class="extra-bold magenta">.</span></h3>
        <hr class="bold" />
        {% include search_box.html %}
        <hr class="light" />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4 class="extra-bold">{{ page.title }}</h4>
            {{content}}
        </div>
        <div class="col-md-4">
            {% include services_menu.html %}
        </div>
    </div> <!--/row -->
    <div class="row">
        <div class="col-md-6">
            <img src="{{site.baseurl}}/images/front_projects.jpg" alt="..." class="img-rounded img-inline">
        </div>
        <div class="col-md-6">
            <img src="{{site.baseurl}}/images/front_resources.jpg" alt="..." class="img-rounded img-inline">
        </div>
    </div>
</div> 
  {% include footer.html %}
</body>
</html>